.button-green {
  min-width: 276px;
  min-height: 59px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 1px;
}
