.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.modal-success__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
