.rate__table {
  border-collapse: collapse;
  height: 281px;
}

.rate__title {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.rate__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.rate__advantages {
  min-width: 272px;
  min-height: 57px;
  padding: 25px 20px;
  padding-right: 125px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}
