/*.slider__toggle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #283645;
  opacity: 0.3;
}

.slider__toggle--active {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #283645;
}*/
