.advantages {
  position: relative;
  background-image: linear-gradient(175deg, #ffffff 24%, #f2f2f2 24%);

  @media (min-width: 660px) {
    background-image: linear-gradient(175deg, #ffffff 42%, #f2f2f2 42%);
  }

  @media (min-width: 1200px) {
    background-image: linear-gradient(175deg, #ffffff 41%, #f2f2f2 41%);
  }
}

.advantages__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 20px;
  padding-top: 46px;
  margin: 0 auto;

  @media (min-width: 660px) {
    max-width: 660px;
    padding-top: 58px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 130px;
    padding-top: 77px;
    padding-bottom: 76px;
    /*background-image: url("../img/png/iphone-screen-gray-desktop.png"), url("../img/png/iphone-screen-desktop.png"), url("../img/png/iphone-screen-smile-desktop.png");
    background-size: 300px 382px;
    background-repeat: no-repeat;
    background-position: 130px 357px, 450px 357px, 770px 357px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/iphone-screen-gray-desktop@2x.png"), url("../img/png/iphone-screen-desktop@2x.png"), url("../img/png/iphone-screen-smile-desktop@2x.png");
      background-size: 300px auto;
    }*/
  }
}

.advantages__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    width: 588px;
    margin-bottom: 47px;
    font-size: 40px;
    line-height: 54px;

    &--text {
      width: 580px;
    }
  }

  @media (min-width: 1200px) {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 5px;

    &--text {
      /*padding-bottom: 373px;*/
      margin-bottom: 0;
      width: 700px;
    }
  }
}

.advantages__list {
  margin: 0 auto;
  margin-top: 123px;
  padding: 0;
  padding-bottom: 359px;
  list-style-type: none;
  background-image: url("../img/png/iphone-screen-smile-mobile.png");
  background-repeat: no-repeat;
  background-size: 157px 320px;
  background-position: 50% 488px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/png/iphone-screen-smile-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: 660px) {
    width: 310px;
    margin: 0;
    padding-left: 310px;
    padding-bottom: 33px;
    padding-top: 75px;
    background-image: url("../img/png/iphone-screen-smile-tablet.png");
    background-size: 268px 547px;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/iphone-screen-smile-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding: 0;
    background-image: none;
    z-index: 1;
  }
}

/*.advantages__item {
  margin-bottom: 43px;

  @media (min-width: 660px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1200px) {
    width: 300px;
    margin: 0;
  }
}*/

.advantages__item {
  margin-bottom: 43px;

  @media (min-width: 660px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1200px) {
    width: 300px;
    margin: 0;
    padding-top: 373px;
    background-image: url("../img/png/iphone-screen-gray-desktop.png");
    background-size: 300px 382px;
    background-repeat: no-repeat;
    background-position: 50% 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/iphone-screen-gray-desktop@2x.png");
      background-size: 300px auto;
    }

    &--color {
      background-image: url("../img/png/iphone-screen-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/iphone-screen-desktop@2x.png");
      }
    }

    &--color-smile {
      background-image: url("../img/png/iphone-screen-smile-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/png/iphone-screen-smile-desktop@2x.png");
      }
    }
  }
}

.advantages__item:nth-child(3n) {
  margin-bottom: 0;

  @media (min-width: 660px) {
    margin-bottom: 0;
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  @media (min-width: 660px) {
    text-align: left;
    margin-bottom: 20px;
  }

  @media (min-width: 1200px) {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-top: 59px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f2f2f2;
  }
}

.advantages__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    text-align: left;
    line-height: 20px;
  }

  @media (min-width: 1200px) {
    width: 252px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    br {
      display: none;
    }
  }
}
