.advantages__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
