.catalog-list {
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;

  @media (min-width: 660px) {
    box-sizing: unset;
    width: 620px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 20px;
    row-gap: 19px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    padding: 0 130px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 51px;
  }
}
