.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 660px) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 54px;
  }
}
