.catalog-item {
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;
    margin: 0;
  }

  @media (min-width: 1200px) {
    width: 300px;
    min-height: 555px;
  }
}

.catalog-item__images {
  display: block;
  width: 280px;
  height: 180px;
  margin: 0 auto;

  &:focus {
    outline: 2px solid #283645;
  }

  @media (min-width: 660px) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: 1200px) {
    height: 400px;
  }
}

.catalog-item__desc {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 25px;
  padding-top: 23px;
  padding-right: 10px;
  padding-left: 17px;
  margin: 0 auto;
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    width: 300px;
    padding: 30px;
  }

  @media (min-width: 1200px) {
    padding: 30px 27px;
  }
}

.catalog-item__name {
  margin: 0;
  margin-right: 3px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #283645;
}

.catalog-item__time {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #283645;
}

.catalog-item__text {
  min-width: 253px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;

  @media (min-width: 660px) {
    min-width: 232px;
    min-height: 48px;
  }

  @media (min-width: 1200px) {
    min-width: 246px;
    min-height: 48px;
  }
}

.catalog-item__like-wrapper {
  display: flex;
  align-items: baseline;

  @media (min-width: 660px) {
    min-width: 240px;
  }
}

.catalog-item__like {
  width: 13px;
  height: 12px;
  margin-right: 18px;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 13px 12px;

  &:focus {
    outline: 2px solid #d22856;
    border-radius: 1px;
  }

  @media (min-width: 660px) {
    order: 3;
    margin-left: auto;
    margin-right: 0;
  }
}

.catalog-item__like-text,
.catalog-item__number {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
  border: none;
  background-color: transparent;

  @media (min-width: 660px) {
    order: 2;
  }
}

.catalog-item__like-text {
  margin-right: 3px;

  @media (min-width: 660px) {
    order: 1;
  }
}
