.catalog-item {
  width: 280px;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;
    margin: 0;
  }

  @media (min-width: 1200px) {
    width: 300px;
    min-height: 555px;
  }
}

.catalog-item--favorite {
  position: relative;
  min-height: 329px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "Панорама дня";
    width: 140px;
    height: 36px;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856;
    z-index: 1;
  }

  @media (min-width: 660px) {
    grid-column: 1 / -1;
    width: 620px;
    min-height: 630px;
    margin-bottom: 30px;

    &::before {
      top: 57px;
    }
  }

  @media (min-width: 1200px) {
    width: 940px;
    min-height: 602px;
    margin-bottom: 0;

    &::before {
      top: 54px;
    }
  }

  .catalog-item__link {
    display: block;
    text-decoration: none;
  }

  .catalog-item__images {
    width: 320px;
    height: 137px;
    position: absolute;
    top: 0;
    right: -20px;

    @media (min-width: 660px) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      height: 506px;
      top: 1px;
      right: -130px;
    }
  }

  .catalog-item__desc {
    min-height: 142px;
    padding-top: 162px;

    @media (min-width: 660px) {
      min-height: 121px;
      padding-top: 539px;
    }

    @media (min-width: 1200px) {
      min-height: 96px;
      padding-top: 536px;
    }
  }

  .catalog-item__name {
    @media (min-width: 660px) {
      order: 1;
    }
  }

  .catalog-item__time {
    @media (min-width: 660px) {
      order: 2;
    }
  }

  .catalog-item__text {
    @media (min-width: 660px) {
      order: 4;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      order: 4;
      margin-bottom: 0;
      min-height: 10px;
    }
  }

  .catalog-item__like-wrapper {
    @media (min-width: 660px) {
      min-width: 119px;
      margin-left: auto;
      order: 3;
    }
  }

  .catalog-item__like {
    @media (min-width: 660px) {
      margin-left: 16px;
    }
  }
}

.catalog-item__images {
  display: block;
  width: 280px;
  height: 180px;

  @media (min-width: 660px) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: 1200px) {
    height: 400px;
  }
}

.catalog-item__desc {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 25px;
  padding-right: 10px;
  padding-left: 17px;

  @media (min-width: 660px) {
    padding: 30px;
  }

  @media (min-width: 1200px) {
    padding: 30px 27px;
  }
}

.catalog-item__name {
  margin: 0;
  margin-right: 3px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.catalog-item__time {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}

.catalog-item__text {
  min-width: 253px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;

  @media (min-width: 660px) {
    min-width: 232px;
    min-height: 48px;
  }

  @media (min-width: 1200px) {
    min-width: 246px;
    min-height: 48px;
  }
}

.catalog-item__like-wrapper {
  display: flex;
  align-items: baseline;

  @media (min-width: 660px) {
    min-width: 240px;
  }
}

.catalog-item__like {
  width: 13px;
  height: 12px;
  margin-right: 18px;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 13px 12px;

  @media (min-width: 660px) {
    order: 3;
    margin-left: auto;
    margin-right: 0;
  }
}

.catalog-item__like-text,
.catalog-item__number {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
  border: none;
  background-color: transparent;

  @media (min-width: 660px) {
    order: 2;
  }
}

.catalog-item__like-text {
  margin-right: 3px;

  @media (min-width: 660px) {
    order: 1;
  }
}
