.filter-group-radio {
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    background-color: #ffffff;
  }
}

.filter-group-radio__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  border: none;

  @media (min-width: 660px) {
    width: 620px;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media (min-width: 1200px) {
    width: 435px;
    min-height: 281px;
    margin-bottom: 58px;
  }
}

.filter-group-radio__title {
  margin-bottom: 40px;
  padding-top: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    width: 368px;
    padding: 0;
    margin: 0;
  }
}

.filter-group-radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 660px) {
    padding-top: 47px;
    padding-left: 58px;
    padding-bottom: 20px;
  }

  @media (min-width: 1200px) {
    padding-left: 72px;
  }
}

.filter-group-radio__item {
  margin-bottom: 38px;
}

.filter-group-radio__label {
  position: relative;
  display: block;
}

.filter-group-radio__mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.filter-group-radio__field:checked + .filter-group-radio__mark {
  background-image: url("../img/svg/ellipse-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-group-radio__text {
  margin-left: 68px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  @media (min-width: 660px) {
    margin-left: 59px;
  }
}
