.filter-group-checkbox {
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    background-color: #ffffff;
  }
}

.filter-group-checkbox__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  border: none;

  @media (min-width: 660px) {
    width: 620px;
    padding-top: 54px;
    padding-left: 60px;
    margin: 0;
    margin-bottom: 65px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media (min-width: 1200px) {
    width: 936px;
    min-height: 232px;
    padding: 0;
  }
}

.filter-group-checkbox__title {
  padding-bottom: 55px;
  padding-top: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    width: 436px;
    padding: 0;
  }
}

.filter-group-checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 52px;
    width: 819px;
    margin: auto;
    margin-top: 49px;
  }
}

.filter-group-checkbox__item {
  margin-bottom: 47px;

  @media (min-width: 1200px) {
    &--shark {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--beach {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--see {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &--souvenirs {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &--tower {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &--hotel {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

.filter-group-checkbox__label {
  position: relative;
  display: block;
}

.filter-group-checkbox__mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.filter-group-checkbox__field:checked + .filter-group-checkbox__mark {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-group-checkbox__text {
  margin-left: 57px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
