.form-user__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form-user__field {
  min-width: 272px;
  min-height: 55px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}
