.form-contacts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  padding-top: 32px;
  padding-bottom: 25px;
  margin: 0 auto;
  border: none;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 306px;
    padding: 0;
    margin: 0;
    margin-bottom: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    min-height: 158px;
    margin-bottom: 58px;
  }
}

.form-contacts__legend {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin: 0 auto;
    width: 260px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
  }
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style-type: none;

  @media (min-width: 660px) {
    padding-bottom: 17px;
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}

.form-contacts__item {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 11px;
  }

  @media (min-width: 1200px) {
    margin-top: 25px;
    margin-bottom: 13px;
  }
}

.form-contacts__title {
  margin-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    padding-left: 19px;
    width: 129px;
    margin: 0;
  }
}

.form-contacts__container {
  display: flex;
  align-items: center;
}

.form-contacts__field {
  box-sizing: border-box;
  padding: 22px;
  margin-top: 5px;
  margin-bottom: 17px;
  min-width: 280px;
  min-height: 55px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #283645;
  }

  &:hover {
    border: 2px solid #283645;
  }

  &:focus {
    outline: 2px solid #283645;
    outline-offset: -2px;
  }

  &:active {
    border: 2px solid #d22856;
  }

  @media (min-width: 660px) {
    min-width: 438px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 7px;
  }

  @media (min-width: 1200px) {
    min-width: 314px;
    margin-bottom: 11px;
    padding: 22px;
  }
}

.form-contacts__phone-icon,
.form-contacts__mail-icon {
  @media (min-width: 660px) {
    margin-bottom: 7px;
    width: 60px;
    height: 63px;
    background-color: #e5e5e5;
    background-image: url("../img/svg/phone-icon.svg");
    background-size: 20px 19px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 11px;
  }
}

.form-contacts__mail-icon {
  @media (min-width: 660px) {
    background-image: url("../img/svg/mail-icon.svg");
    background-size: 18px 13px;
  }

  @media (min-width: 1200px) {
    margin-right: 0;
  }
}
