.form-feedback {
  box-sizing: border-box;
  width: 320px;
  min-height: 197px;
  padding: 20px;
  padding-top: 14px;
  padding-bottom: 48px;
  margin: 0 auto;
  border: none;

  @media (min-width: 660px) {
    width: 620px;
    min-height: 302px;
    padding: 0;
    margin: 0;
    margin-bottom: 66px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    min-height: 224px;
    margin-bottom: 63px;
  }
}

.form-feedback__legend {
  display: block;
  width: 184px;
  margin: 0 auto;
  padding-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    width: 260px;
    padding: 0;
  }
}

.form-feedback__field {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 22px;
  padding-top: 15px;
  width: 280px;
  min-height: 201px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #283645;
  }

  &::-moz-placeholder {
    color: #283645;
    opacity: 1;
  }

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    outline: 2px solid #d22856;
    outline-offset: -2px;
  }

  @media (min-width: 660px) {
    width: 500px;
    min-height: 194px;
    margin-top: 37px;
    margin-bottom: 50px;
    padding-top: 15px;
  }

  @media (min-width: 1200px) {
    width: 820px;
    min-height: 130px;
    margin-top: 32px;
    margin-bottom: 45px;
    padding: 15px;
    padding-left: 21px;
  }
}
