.main-form__desc {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.main-form__desc-please {
  display: none;

  @media (min-width: 660px) {
    display: block;
    box-sizing: border-box;
    width: 490px;
    padding: 0;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 82px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }

  @media (min-width: 1200px) {
    width: 756px;
  }
}
