.modal-success {
  width: 460px;
  min-height: 432px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;
}

.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.modal-success__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
