.page-header__background {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../../img/jpeg/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-header__menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header__logo-link {
  display: block;
  box-sizing: border-box;
  width: 114px;
  padding: 19px 0;
}

.page-header__toggle {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  padding: 20px 0;
  border: none;
  background-color: transparent;
}

.page-header__toggle-close {
  display: block;
  position: absolute;
  right: 20px;
  box-sizing: border-box;
  padding: 20px 0;
  border: none;
  background-color: transparent;
}

.page-header-title {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  min-height: 396px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 29px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.page-header-title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-image: url("../../img/png/bac-phone.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 286px;
}

.page-header__hide {
  display: none;
}

.page-header__open {
  background-color: #283645;
}

/*@media (min-width: 660px) {
  .page-header-title {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    min-height: 396px;
    padding: 0;
    padding-top: 102px;
    width: 200px;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
  }

  .page-header-title::before {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    background-image: url("../../img/png/bac-phone-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 660px;
    height: 545px;
  }
}*/
