.page-header__background {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/jpeg/back-mobile.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpeg/back-mobile@2x.jpg");
    width: 320px;
  }

  @media (min-width: 660px) {
    background-image: url("../img/jpeg/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpeg/back-tablet@2x.jpg");
      width: 660px;
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/jpeg/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpeg/back-desktop@2x.jpg");
      width: 1200px;
    }
  }
}

.page-header__menu {
  background-color: rgba(0, 0, 0, 0.3);

  &--open {
    background-color: #283645;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 660px) {
    max-width: 660px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 130px;
  }
}

.page-header__logo-link {
  display: block;
  box-sizing: border-box;
  padding: 20px 0;
  padding-right: 20px;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: 660px) {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.page-header__logo {
  cursor: pointer;
  fill: #ffffff;

  &--word {
    display: block;
  }

  &--glasses {
    display: none;
  }

  &--stars {
    display: none;
  }

  @media (min-width: 660px) {
    &--word {
      display: none;
    }

    &--glasses {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    &--glasses {
      display: none;
    }

    &--stars {
      display: block;
    }
  }
}

.page-header__logo-color {
  fill: #d22856;
}

.page-header__logo:hover,
.page-header__logo-color:hover {
  fill: #d22856;
}

.page-header__logo:active,
.page-header__logo-color:active {
  opacity: 0.3;
}

.page-header__toggle {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  padding: 20px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 660px) {
    padding: 43px 0;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.page-header__open-menu {
  display: block;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.page-header__close-menu {
  display: none;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.page-header__title {
  box-sizing: border-box;
  max-width: 320px;
  min-height: 396px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
  background-image: url("../img/png/bac-phone-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 286px;
  background-position: 0 110px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/png/bac-phone-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: 660px) {
    position: relative;
    max-width: 660px;
    min-height: 619px;
    padding-top: 90px;
    background-image: url("../img/png/bac-phone-tablet.png");
    background-size: 660px 545px;
    background-position: 0 74px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bac-phone-tablet@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    min-height: 743px;
    padding: 0 130px;
    padding-top: 100px;
    background-image: url("../img/png/bac-phone-desktop.png");
    background-size: 1050px 645px;
    background-position: 147px 98px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/png/bac-phone-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.page-header__title-text {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;

  @media (min-width: 660px) {
    width: 245px;
    padding-left: 27px;
    font-size: 40px;
  }

  @media (min-width: 1200px) {
    width: 240px;
    padding: 0;
    padding-left: 30px;
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__form-title {
  box-sizing: border-box;
  max-width: 320px;
  min-height: 171px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;

  @media (min-width: 660px) {
    max-width: 660px;
    min-height: 330px;
    padding-top: 81px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    min-height: 284px;
    padding: 0 130px;
    padding-top: 74px;
  }
}

.page-header__form-title-text {
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 660px) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: 1200px) {
    width: 747px;
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__catalog-title {
  box-sizing: border-box;
  max-width: 320px;
  min-height: 171px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 36px;

  @media (min-width: 660px) {
    max-width: 660px;
    min-height: 330px;
    padding-top: 81px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    min-height: 284px;
    padding: 0 130px;
    padding-top: 74px;
  }
}

.page-header__catalog-title-text {
  width: 172px;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 660px) {
    width: 358px;
    font-size: 50px;
    line-height: 68px;
  }
}
