.page-header__background {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/jpeg/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: 660px) {
    background-image: url("../img/jpeg/back-tablet.jpg");
  }

  @media (min-width: 1200px) {
    background-image: url("../img/jpeg/back-desktop.jpg");
  }
}

.page-header__menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 660px) {
    max-width: 660px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 130px;
  }
}

.page-header__invisible-word {
  display: block;

  @media (min-width: 660px) {
    display: none;
  }
}

.page-header__invisible-glasses {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.page-header__invisible-stars {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.page-header__logo-link {
  display: block;
  box-sizing: border-box;
  padding: 19px 0;
  padding-right: 20px;

  @media (min-width: 660px) {
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 43px;
    padding-left: 0;
  }
}

.page-header__toggle {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  padding: 20px 0;
  border: none;
  background-color: transparent;

  @media (min-width: 660px) {
    padding: 43px 0;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.page-header__title {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  min-height: 396px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 29px;
  background-image: url("../img/png/bac-phone.png");
  background-repeat: no-repeat;
  background-size: 320px 286px;
  background-position: 0 110px;

  @media (min-width: 660px) {
    max-width: 660px;
    min-height: 619px;
    padding-top: 90px;
    background-image: url("../img/png/bac-phone-tablet.png");
    background-size: 660px 545px;
    background-position: 0 74px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    min-height: 743px;
    padding: 0 130px;
    padding-top: 100px;
    background-image: url("../img/png/bac-phone-desktop.png");
    background-size: 1050px 645px;
    background-position: 147px 98px;
  }
}

.page-header__title-text {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;

  @media (min-width: 660px) {
    width: 245px;
    padding-left: 27px;
    font-size: 40px;
  }

  @media (min-width: 1200px) {
    width: 240px;
    padding: 0;
    padding-left: 30px;
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__hide {
  display: none;
}

.page-header__open-menu {
  display: block;
}

.page-header__open {
  background-color: #283645;

  @media (min-width: 1200px) {
    display: none;
  }
}

