.rate {
  min-height: 480px;
  background-image: linear-gradient(177deg, #ffffff 9%, #f2f2f2 9%);

  @media (min-width: 660px) {
    min-height: 404px;
    background-image: linear-gradient(177deg, #ffffff 10%, #f2f2f2 10%);
  }

  @media (min-width: 1200px) {
    min-height: 534px;
    background-image: linear-gradient(175deg, #ffffff 17%, #f2f2f2 17%);
  }
}

.rate__wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  min-height: 480px;
  padding: 20px;
  padding-top: 124px;
  padding-bottom: 47px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 660px) {
    max-width: 660px;
    padding-top: 117px;
    padding-bottom: 70px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 130px;
    padding-top: 157px;
    padding-bottom: 100px;
  }
}

.rate__table {
  position: absolute;
  right: -250px;
  border-collapse: collapse;
  width: 1093px;
  min-height: 281px;

  @media (min-width: 660px) {
    position: unset;
    right: 0;
    width: 620px;
    min-height: 220px;
  }

  @media (min-width: 1200px) {
    width: 946px;
  }
}

.rate__title {
  box-sizing: border-box;
  width: 276px;
  min-height: 98px;
  padding: 15px 20px;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;

  &--decor {
    background-color: transparent;
    border: none;
  }

  &--hit {
    background-image: url("../img/png/hit-ribbon.png");
    background-size: 74px 74px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: 660px) {
    width: 155px;
    min-height: 79px;
    padding: 9px 20px;

    &--hit {
      background-size: 61px 61px;
    }
  }

  @media (min-width: 1200px) {
    width: 233px;
    min-height: 98px;
    padding: 18px 20px;
    font-size: 18px;

    &--hit {
      background-size: 74px 74px;
    }
  }
}

.rate__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.rate__advantages {
  box-sizing: border-box;
  width: 276px;
  min-height: 59px;
  padding: 18px 16px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;

  &--yes {
    background-image: url("../img/svg/yes.svg");
    background-size: 31px 21px;
    background-repeat: no-repeat;
    background-position: 227px 16px;
  }

  &--no {
    background-image: url("../img/svg/no.svg");
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: 227px 16px;
  }

  @media (min-width: 660px) {
    width: 155px;
    min-height: 45px;
    padding: 9px 15px;

    &--yes {
      background-position: 50% 50%;
    }

    &--no {
      background-position: 50% 50%;
    }
  }

  @media (min-width: 1200px) {
    width: 234px;
    padding: 13px 15px;
  }
}

.rate__advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #283645;

  @media (min-width: 660px) {
    line-height: 30px;
    text-transform: none;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.rate__advantages-text--invisible {
  @media (min-width: 660px) {
    display: none;
  }
}

.rate__pagination {
  display: flex;
  margin-top: 321px;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}
