.rate {
  min-height: 480px;
  background-image: url("../../img/png/grey-background-table.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rate__wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 47px;
  margin: 0 auto;
  overflow: hidden;
}

.rate__table {
  position: absolute;
  right: -246px;
  border-collapse: collapse;
  width: 1088px;
  min-height: 281px;
}

.rate__title {
  box-sizing: border-box;
  width: 276px;
  min-height: 98px;
  padding: 19px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.rate__title--decor {
  background-color: transparent;
  border: none;
}

.rate__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.rate__advantages {
  box-sizing: border-box;
  width: 276px;
  min-height: 59px;
  padding: 22px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.rate__toggle {
  margin: 0;
  margin-top: 308px;
}
