.reviews {
  position: relative;
  background-color: #ffffff;
  margin-top: -40px;
  z-index: 1;

  @media (min-width: 660px) {
    margin: 0;
    z-index: 0;
  }
}

.reviews__wpapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 20px;
  padding-top: 42px;
  padding-bottom: 14px;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: 660px) {
    max-width: 660px;
    padding: 0 20px;
    padding-top: 41px;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 110px;
    padding-top: 193px;
    padding-bottom: 41px;
    background-image: url("../img/svg/quotes.svg");
    background-size: 79px 63px;
    background-repeat: no-repeat;
    background-position: 561px 72px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  margin-bottom: 31px;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: 1200px) {
    margin: 0;
  }
}

.reviews__title {
  margin: 0 auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (min-width: 660px) {
    margin-bottom: 5px;
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.reviews__desk {
  display: none;

  @media (min-width: 660px) {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }

  @media (min-width: 1200px) {
    width: 668px;
    font-size: 18px;
  }
}

.reviews__text {
  width: 280px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    width: 620px;
    margin-bottom: 51px;
    font-size: 18px;
  }
}

.reviews__button {
  display: none;
  width: 62px;
  height: 81px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: 1200px) {
    display: block;
  }
}

.reviews__button-arrow {
  padding: 20px;
  fill: rgba(40, 54, 69, 0.3);

  &:hover {
    fill: rgba(40, 54, 69, 0.6);
  }

  &:active {
    fill: rgba(40, 54, 69, 0.1);
  }
}
